.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination a {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: #007bff;
}

.pagination .current-page {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}
.owl-prev,
.owl-next {
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: 2px solid #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-prev:hover,
.owl-next:hover {
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
}

.owl-prev {
  left: 20px;
}

.owl-next {
  right: 20px;
}